<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StdEqpTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StdEqpTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="StdEqpTesting.Properties.Settings.DBConnString" connectionString="Database\Main.db" />
    </connectionStrings>
    <userSettings>
        <StdEqpTesting.Properties.Settings>
            <setting name="Locale" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="ImageSaveDir" serializeAs="String">
                <value>SavedImage</value>
            </setting>
            <setting name="ImageSaveQuality" serializeAs="String">
                <value>80</value>
            </setting>
        </StdEqpTesting.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StdEqpTesting.Properties.Settings>
            <setting name="ConfigFolderDir" serializeAs="String">
                <value>Database</value>
            </setting>
        </StdEqpTesting.Properties.Settings>
    </applicationSettings>
</configuration>