<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StdEqpTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StdEqpTesting.Properties.Settings>
            <setting name="Locale" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="DBConnString" serializeAs="String">
                <value>Database\Main.db</value>
            </setting>
        </StdEqpTesting.Properties.Settings>
    </applicationSettings>
</configuration>